.container{
margin: 50px;
padding: 10px;
width: 50%;
border: 3px solid greenyellow;
background-color: rgb(160, 157, 157);
}

.botonEliminar{
float: right;
background-color: red;
color: white;
border:2px solid red ;
}

.container h1{
color:greenyellow;
}

.boton{

background-color: green;
border:2px solid green;
color: white;
margin-left: 10px;
}

